Repository biobuddies/helicopyter: changes, and which pre-commit hooks are due for each by the changed paths.
All: helicopyter-all, helicopyter-codenames

.pre-commit-config.yaml:

---
default_language_version:
    python: python3.10 # Using .python-version would be nice
repos:
    # Autoformatters
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: double-quote-string-fixer
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.0.270
      hooks:
          - id: ruff
            args:
                - --fix
    - repo: https://github.com/psf/black
      rev: 23.10.1
      hooks:
          - id: black
    - repo: https://github.com/jazzband/pip-tools
      rev: 6.13.0
      hooks:
          - id: pip-compile
            args:
                - --no-emit-index-url
                - --resolver=backtracking
            stages:
                - manual
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.7.1
      hooks:
          - id: prettier
            types_or:
                - json
                - yaml
                - toml
    - repo: https://github.com/stephen-ra-king/piptools-sync
      rev: v1.0.4
      hooks:
          - id: piptools_sync

    # Linters
    - repo: https://github.com/shellcheck-py/shellcheck-py
      rev: v0.9.0.6
      hooks:
          - id: shellcheck
    - repo: https://github.com/adrienverge/yamllint.git
      rev: v1.32.0
      hooks:
          - id: yamllint

    # Outside the box
    - repo: local
      hooks:
          - id: gitignore
            entry: curl -so .gitignore https://raw.githubusercontent.com/github/gitignore/main/Python.gitignore
            language: system
            name: gitignore
            pass_filenames: false

          - id: helicopyter-all
            entry: python -m helicopyter all
            files: helicopyter.py
            language: system
            name: helicopyter-all
            pass_filenames: false

          - id: helicopyter-codenames
            entry: python -m helicopyter
            files: deploys/.+/terraform/main.py
            language: system
            name: helicopyter-codenames

          - id: mypy
            entry: mypy .
            language: system
            name: mypy
            pass_filenames: false
            types:
                - python
            stages:
                - manual

          - id: pip-check
            entry: pip check
            language: system
            name: pip-check
            pass_filenames: false

More shell includes
  .github/workflows/check.yml
  .pre-commit-config.yaml
  MANIFEST.in
  includes.sh
  pyproject.toml
  requirements.in
  requirements.txt
  shell_includes.sh
Due: none

Fix git push.default
  .github/workflows/check.yml
  .pre-commit-config.yaml
  .python-version
  .yamllint.yaml
  includes.sh
  pyproject.toml
  requirements.in
  requirements.txt
Due: none

Fix git push.default (#1)
  .github/workflows/check.yml
  .pre-commit-config.yaml
  .python-version
  .yamllint.yaml
  includes.sh
  pyproject.toml
  requirements.in
  requirements.txt
Due: none

Less verbose action
  .github/workflows/check.yml
Due: none

Less verbose checking
  .yamllint.yaml
  includes.sh
Due: none

Lint
  includes.sh
Due: none

More linting
  .github/workflows/check.yaml
Due: none

Complete basic generation
  .pre-commit-config.yaml
  README.md
  deploys/demo/terraform/.terraform.lock.hcl
  deploys/demo/terraform/main.py
  deploys/demo/terraform/main.tf.json
  helicopyter.py
  pyproject.toml
  requirements.in
  requirements.txt
  shell_includes.sh
Due: helicopyter-all, helicopyter-codenames

Improve linting and iterate on includes.sh (#2)
  .github/workflows/check.yaml
  .yamllint.yaml
  includes.sh
Due: none

100 character lines
  .prettierrc.toml
  .yamllint.yaml
  pyproject.toml
  style.md
Due: none

100 character lines
  .github/workflows/check.yaml
  .pre-commit-config.yaml
  deploys/demo/terraform/main.py
  helicopyter.py
Due: helicopyter-all, helicopyter-codenames

Hundred character lines (#3)
  .github/workflows/check.yaml
  .pre-commit-config.yaml
  .prettierrc.toml
  .yamllint.yaml
  deploys/demo/terraform/main.py
  helicopyter.py
  pyproject.toml
  style.md
Due: helicopyter-all, helicopyter-codenames

ENVI etc
  deploys/demo/terraform/main.py
  deploys/demo/terraform/main.tf.json
  style.md
Due: helicopyter-codenames

Quieter environment activation
  includes.sh
Due: none

Upgrade versions
  .gitignore
  .pre-commit-config.yaml
  .python-version
  .terraform-version
  deploys/demo/terraform/main.tf.json
  requirements.txt
Due: none

More Ruff
  .github/workflows/check.yaml
  .pre-commit-config.yaml
  deploys/__init__.py
  deploys/demo/terraform/.terraform.lock.hcl
  deploys/demo/terraform/main.py
  deploys/demo/terraform/main.tf.json
  helicopyter.py
  includes.sh
  pyproject.toml
  requirements.in
  style.md
Due: helicopyter-all, helicopyter-codenames

Little more
  deploys/demo/terraform/main.py
  pyproject.toml
Due: helicopyter-codenames

Drop black
  requirements.txt
Due: none

Typo
  style.md
Due: none

EXEC commentary
  style.md
Due: none

Finishing touches
  includes.sh
  requirements.txt
Due: none

Four-letter variables (#5)
  .github/workflows/check.yaml
  .gitignore
  .pre-commit-config.yaml
  .python-version
  .terraform-version
  deploys/__init__.py
  deploys/demo/terraform/.terraform.lock.hcl
  deploys/demo/terraform/main.py
  deploys/demo/terraform/main.tf.json
  helicopyter.py
  includes.sh
  pyproject.toml
  requirements.in
  requirements.txt
  style.md
Due: helicopyter-all, helicopyter-codenames

Build a heliport
  .codespell-ignore
  .pre-commit-config.yaml
  heliport.py
  providers/cloudflare.py
  providers/functions.py
  pyproject.toml
Due: none

Improve load method
  .gitignore
  .pre-commit-config.yaml
  deploys/demo/terraform/main.py
  helicopyter.py
Due: helicopyter-all, helicopyter-codenames

Lint
  helicopyter.py
  pyproject.toml
Due: helicopyter-all

Improve load method (#7)
  .gitignore
  .pre-commit-config.yaml
  deploys/demo/terraform/main.py
  helicopyter.py
  pyproject.toml
Due: helicopyter-all, helicopyter-codenames

pip-compile to uv
  .pre-commit-config.yaml
  requirements.in
  requirements.txt
Due: none

Migrate GitHub Action
  .github/workflows/check.yaml
  requirements.in
  requirements.txt
Due: none

Summarize GitHub Action
  .github/workflows/check.yaml
  includes.sh
Due: none

Linux requirements
  requirements.txt
Due: none

pre-commit with uv
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Due: none

pre-commit with uv
  .pre-commit-hooks.yaml
Due: none

Testing
  .github/workflows/check.yaml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  pyproject.toml
  requirements.in
  requirements.txt
Due: none

Run after rm -fr ~/.cache/pre-commit
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Due: none

uv pip compile command line
  requirements.txt
Due: none

wg function
  includes.sh
Due: none

arg order
  .pre-commit-hooks.yaml
Due: none
